<h1>Welcome index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<%= @homeland %>
<br>
<ul><% @countries.each do |country| %>
  <li><%= country %></li>
<% end %>
</ul>

<br>
<br>

<% @country_images.each do |pic| %>
<p><%= image_tag pic, alt: "country", class: "country", height: 300, width:400, class: "img-responsive" %></p><br>
<% end %>